body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
}

.fc .fc-button {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}